* {
	box-sizing: border-box;
}

.table-board {
	border: 3px solid black;
	width: 500px;
	height: 500px;
	border-collapse: collapse;
}

td {
	border: 2px solid black;
	width: 33.333%;
	height: 33.333%;
	text-align: center;
	font-size: 6em;
	font-family: Helvetica, Arial, sans-serif;
}

.game-result {
	display: none;
}
